<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Application2Before</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEns</display-name>
    <servlet-name>AddEns</servlet-name>
    <servlet-class>servlet.AddEns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEns</servlet-name>
    <url-pattern>/AddEns</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEns</display-name>
    <servlet-name>updateEns</servlet-name>
    <servlet-class>servlet.updateEns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEns</servlet-name>
    <url-pattern>/updateEns</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReserch</display-name>
    <servlet-name>AddReserch</servlet-name>
    <servlet-class>servlet.AddReserch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReserch</servlet-name>
    <url-pattern>/AddReserch</url-pattern>
  </servlet-mapping>
</web-app>