<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Application1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>service.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>service.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEns</display-name>
    <servlet-name>AddEns</servlet-name>
    <servlet-class>service.AddEns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEns</servlet-name>
    <url-pattern>/AddEns</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEchelon</display-name>
    <servlet-name>AddEchelon</servlet-name>
    <servlet-class>service.AddEchelon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEchelon</servlet-name>
    <url-pattern>/AddEchelon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPromotion</display-name>
    <servlet-name>AddPromotion</servlet-name>
    <servlet-class>service.AddPromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPromotion</servlet-name>
    <url-pattern>/AddPromotion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEnseignant</display-name>
    <servlet-name>DeleteEnseignant</servlet-name>
    <servlet-class>service.DeleteEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEnseignant</servlet-name>
    <url-pattern>/DeleteEnseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEnseignant</display-name>
    <servlet-name>UpdateEnseignant</servlet-name>
    <servlet-class>service.UpdateEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEnseignant</servlet-name>
    <url-pattern>/UpdateEnseignant</url-pattern>
  </servlet-mapping>
</web-app>